<html>
	<head>
		<title>ERROR 404</title>
		<style>
			body {
			background: url('https://www.hawa2.com/upload/media/posts/2018-02/01/6b81c5759c9c9bcd1f49eaa923f0ebd3_1517473032-b.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			}
		</style>
	</head>
	<body>
	
	</body>
</html>